@{
    ViewData["Title"] = "Home Page";
    ViewData["StickyOn"] = true;
}

<section class="searchTeacher">
    <div class="container">
        <h2 >Califica a tu Maestro</h2>
        <p class="lead">El mejor lugar para calificar a tu sensei de forma anónima y con una eficiente y agradable interfaz</p>
        <hr class="my-4">
        <p>Ellos nos califican a nosotros, pero aquí nosotros los calificamos a ellos.</p>
        <div id="searchTeacherBar" class="input-group mb-3">
            <button class="btn btn-outline-secondary" type="button" id="button-addon1">Buscar</button>
            <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
        </div>
    </div>
</section>
 <h3>Sticky Navigation Example</h3>
  <p>The navbar will stick to the top when you reach its scroll position.</p>
  <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
  <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
  <h3>Sticky Navigation Example<h3>Sticky Navigation Example<h3>Sticky Navigation Example<h3>Sticky Navigation Example<h3>Sticky Navigation Example<p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
   <p>The navbar will stick to t<p>The navbar will stick to t<p>The navbar will stick to t<p>The navbar will stick to t<p>The navbar will stick to t
   <p>Some text to enable scroll<p>Some text to enable scroll<p>Some text to enable scroll<p>Some text to enable scroll<p>Some text to enable scroll
   <p>Some text to enable scroll<p>Some text to enable scroll<p>Some text to enable scroll<p>Some text to enable scroll<p>Some text to enable scroll
   <p>Some text to enable scroll<p>Some text to enable scroll<p>Some text to enable scroll<p>Some text to enable scroll<p>Some text to enable scroll
